<% include header %>
<div id="content">

<h1><a href="/"><< back to blog</a> Thomas<strong>_</strong><strong>Borms</strong></h1>
<h3>Personal site of <a href="/about">Thomas Borms</a></h3>

<h2><span>Resource not found</span> :</h2>

<section>
<p>I am sorry but this resource has not been found</p>
</section>
</div>
<% include footer %>
